<a href="https://colab.research.google.com/github/swankhede/RLAB/blob/main/R_Experiment2_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Vectors R Programming**

The simplest and most common data structure in R is the vector. Vectors come in two different flavors: atomic vectors and lists. An atomic vector contains exactly one data type, whereas a list may contain multiple data types.

Atomic vectors include logical, character, integer, and complex. Logical vectors can contain the values TRUE, FALSE, and NA (for 'not available').These values are generated as the result of logical 'conditions'.

Complet following couple of code cell to genearate a logical vector in variable logic_vect

In [ ]:
# Create a vector num_vect with values -100, 0.55, 45, 5466
num_vect<-c(-100,0.55,45,5466)
num_vect

[1] -100.00    0.55   45.00 5466.00

In [ ]:
#Now, create a variable called logic_vect that gets the result of num_vect <= 0.55, which is read as 'num_vect is less than 0.55'.
logic_vect <- c(num_vect)
logic_vect[logic_vect<=0.55]

[1] -100.00    0.55

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [ ]:
logic_vect

[1] -100.00    0.55   45.00 5466.00

In [ ]:
#Type num_vect >= 6 and note the output
num_vect[num_vect>=6]

[1]   45 5466

Character vectors

Character vectors are also very common in R. Double quotes are used to distinguish character objects.

In [ ]:
# Create a character vector that contains the following words: "My", "name", "is". 
#Remember to enclose each word in its own set of double quotes, 
#so that R knows they are character strings. Store the vector in a variable called char_vect.
char_vect <-c("MY","name","is")

In [ ]:
char_vect

[1] "MY"   "name" "is"

In [ ]:
 paste(char_vect, collapse=" ")

[1] "MY name is"

Explain What difference you see in above two code blocks

 My explaination:
Using paste function we can join vector elements to each other to create a single string i.e we can convert character vector to string

In [ ]:
# add your name as an element to char_vect and paste complete sentence saying "My name is <your name>"
char_vect <-c("MY","name","is","Shashank")
 paste(char_vect, collapse=" ")

[1] "MY name is Shashank"

In [ ]:
#Execute this code block
paste("Hello","World!",collapse=" ")

[1] "Hello World!"

Explain output of code block above.
**Using paste function we can join two words with space**

In [ ]:
#Execute this 
paste(1:3, c("X", "Y", "Z"), sep = ":")

[1] "1:X" "2:Y" "3:Z"

Explain output of above code block

In [ ]:
#Executes this LETTERS is 
paste(LETTERS, 1:10, sep = "-")

 [1] "A-1"  "B-2"  "C-3"  "D-4"  "E-5"  "F-6"  "G-7"  "H-8"  "I-9"  "J-10"
[11] "K-1"  "L-2"  "M-3"  "N-4"  "O-5"  "P-6"  "Q-7"  "R-8"  "S-9"  "T-10"
[21] "U-1"  "V-2"  "W-3"  "X-4"  "Y-5"  "Z-6"

Explain output of above code block

**Write R code to Solve Following**
1.   To begin with create a vecor **a** of 20 random values from Std Normal Variable.
2.   Creat another vector **b** of 20 NA values. Also create vector x
3.   Sample 20 values from above two vectors. 
4.   Subset  10th to 15th element from x to generate sample y
5.   Count NAs in vector x and y

In [1]:
# Create a Vector 'a' of 20 random values from Std Normal Variable.
a <- rnorm(20)
a

 [1] -0.08760149 -1.32046177  1.00669439 -0.21098811 -1.26546576  0.16115120
 [7]  0.64885300  0.38502213  0.52698104  1.03706478 -1.34035856  0.57603409
[13]  0.57131051 -1.37999212 -0.31773373  0.43868412  1.42527768  0.02621419
[19]  0.83267829 -0.65643632

In [2]:
b <- rep(NA, 20)
b

 [1] NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA

In [3]:
# Sample 20 values from above two vectors. 
x <- c(a,b)
x <- sample(x, 20, replace=FALSE)
x

 [1]  1.00669439  0.16115120  0.64885300  1.03706478          NA -1.32046177
 [7]          NA          NA          NA          NA  0.57603409 -0.31773373
[13]          NA          NA  0.83267829 -1.26546576  0.02621419          NA
[19] -0.21098811          NA

In [4]:
y <- x[10:15]
y

[1]         NA  0.5760341 -0.3177337         NA         NA  0.8326783

In [5]:
# Count NAs in vector x and y. 
sum(is.na(x))
sum(is.na(y))

[1] 9

[1] 3